@use "config";

window.Bar {
  label {
    margin: 0 8px;
  }

  .launcher-parent-box {
    border-radius: 5px;
    background-color: config.$base0E;

    .launcher-label {
      margin: 0px 5px 0px 5px;
      color: #000000;
      font-size: 25px;
    }
  }

  .box_bg {
    margin: 5px 0px 5px 3px;
    border-radius: config.$radius;
    padding: 2px;
    background-color: config.$base00transparent;
    color: config.$base05;
    font-weight: normal;
    min-height: 2rem;
    font-size: 1.1em;
    border: none;
    box-shadow: none;

    .workspaces {
      background: transparent;
      padding: 2px;

      .focused-circ-prog {
        min-width: 25px;
        min-height: 25px;
        background-color: config.$base0E;
        // color: $base0E;
        border-radius: 50%;
      }

      button {
        all: unset;
        border: none;
        color: config.$base03;

        &:nth-child(1) {
          margin-left: 0;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }

      .focused {
        all: unset;
        color: config.$base0E;
        background-color: config.$base00;
        border-radius: 50%;
        opacity: 1;
        margin: 5px;
      }

      .occupied {
        all: unset;
        color: config.$base06;
        padding: 1px;
      }
    }

    .time-parent-box {
      background-color: config.$base01;
      border-radius: config.$radius;

      label {
      }
    }

    .SysTray {
      button {
        padding: 0 4px;
        background-color: transparent;
      }

      menu {
        background-color: config.$base00transparent;
        padding: 0px;
        font-size: 14px;

        label {
          color: config.$base05;
        }
        separator {
          background-color: config.$base00transparent;
        }
      }
    }

    .FocusedClient {
      color: config.$base0C;
    }

    .Media {
      background-color: transparent;

      .Cover {
        padding: 0px;
        min-height: 1.2em;
        min-width: 0.2em;
        border-radius: config.$radius;
        background-position: center;
        background-size: contain;
        background-color: transparent;
      }
    }

    .Battery {
      all: unset;
      /* padding: 3px; */
      /* margin: 4px; */

      .batt-container {
        all: unset;
        margin: 6px;
        background-color: config.$base04; /* Background color */
        min-width: 1px; /* Fixed width */
        // min-height: 90px;            /* Fixed height */
        border-radius: config.$radius; /* Rounded corners */
        border: 2px solid config.$base04;

        .batt-bar {
          all: unset;
          background-color: config.$base0C; /* Color of battery level */
          border-top-left-radius: config.$radius;
          border-bottom-left-radius: config.$radius;
          border-radius: inherit;
          // min-width: ;
          transition: width 0.3s ease-in-out;
        }
      }

      /* Round the left side only if battery is not empty */
      /* .batt-bar:not(:empty) { */
      /* border-top-left-radius: $batt-radius; */
      /* border-bottom-left-radius: $batt-radius; */
      /* } */

      /* Round the right side only if battery is full */
      /* .batt-bar[style*="width: 90px"] { */
      /* border-top-right-radius: $batt-radius; */
      /* border-bottom-right-radius: $batt-radius; */
      /* } */

      .batt-percentage-text {
        margin-bottom: 1px; /* Spacing from battery bar */
      }
    }

    .CircleIndicator {
      color: config.$base0E;
      background-color: config.$base04;
      font-size: 0.15em;
      min-width: 10px;
    }
  }
}
