@use "sass:color";

$radius: 10px;
$batt-radius: 10px;

$base00transparent: color.adjust(#1e1e2e, $alpha: -0.1);
$base00: #1e1e2e;  // Background
$base01: #313244;  // Surface0
$base02: #45475a;  // Surface1
$base03: #585b70;  // Surface2
$base04: #6c7086;  // Overlay0
$base05: #cdd6f4;  // Text
$base06: #f5e0dc;  // Rosewater
$base07: #bac2de;  // Subtext1
$base08: #f38ba8;  // Red
$base09: #fab387;  // Peach
$base0A: #f9e2af;  // Yellow
$base0B: #a6e3a1;  // Green
$base0C: #94e2d5;  // Teal
$base0D: #89b4fa;  // Blue
$base0E: #cba6f7;  // Mauve
$base0F: #eba0ac;  // Maroon

window.Bar {
  label {
    margin: 0 8px;
  }

  .box_bg {
    margin: 3px 6px 0px 6px;
    border-radius: $radius;
    padding: 2px;
    background-color: $base00transparent;
    color: $base05;
    font-weight: normal;
    min-height: 2rem;
    font-size: 1.1em;
    border: none;
    box-shadow: none;

    .workspaces {
      background: transparent;
      padding: 5px 5px;

      button {
        all: unset;
        border: none;
        color: $base03;

        &:nth-child(1) {
          margin-left: 0;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }

      .focused {
        all: unset;
        color: $base0B;
        opacity: 1;
      }

      .occupied {
        all: unset;
        color: $base06;
        padding: 1px;
      }
    }

    .launcher_button {
      padding: 1px;
      background-color: transparent;
    }

    .launcher_button label {
      padding: 0px;
      color: $base0B;
    }

    .SysTray {

      button {
        padding: 0 4px;
        background-color: transparent;
      }

      menu {
        background-color: $base00transparent;
        padding: 0px;
        font-size: 14px;

        label {
          color: $base05;
        }
        separator {
          background-color: $base00transparent;
        }
      }
    }

    .FocusedClient {
      color: $base0C;
    }

    .Media {
      background-color: transparent;      

      .Cover {
        padding: 0px;
        min-height: 1.2em;
        min-width: .2em;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
        background-color: transparent;
      }
    }

    .Battery {
      /* padding: 3px; */
      /* margin: 4px; */

      .batt-container {
        margin: 6px;
        background-color: $base04;  /* Background color */
        min-width: 90px;            /* Fixed width */
        min-height: 1px;            /* Fixed height */
        border-radius: $batt-radius;      /* Rounded corners */

        .batt-bar {
          background-color: $base0C; /* Color of battery level */
          border-top-left-radius: $batt-radius;
          border-bottom-left-radius: $batt-radius;
          border-radius: inherit;
          transition: width 0.3s ease-in-out;
        }
      }

      /* Round the left side only if battery is not empty */
      /* .batt-bar:not(:empty) { */
        /* border-top-left-radius: $batt-radius; */
        /* border-bottom-left-radius: $batt-radius; */
      /* } */

      /* Round the right side only if battery is full */
      /* .batt-bar[style*="width: 90px"] { */
        /* border-top-right-radius: $batt-radius; */
        /* border-bottom-right-radius: $batt-radius; */
      /* } */

      .batt-percentage-text {
        margin-left: 1px;        /* Spacing from battery bar */
      }


    }
  }
}
