@use "config";

.dashboard-window {
  background-color: config.$base00transparent;
  border-radius: config.$radius;
}

.quick-toggle-box {
  margin: 20px 3px 0px 3px;
  // min-width: 200px;
  // min-height: 200px;
  background-color: transparent;
  border-radius: 25px;

  .quick-toggle-button {
    margin: 5px 0px 0px 0px;
    padding: 10px;
    background-color: config.$base0E;
    border-radius: 50%;
    font-size: 40px;
  }
}

.quick-button-box {
  margin-top: 20px;
  background-color: transparent;
  border-radius: 25px;
}

.quick-button {
  margin: 5px 0px 0px 0px;
  padding: 10px;
  background-color: config.$base03;
  border-radius: 50%;
  font-size: 40px;
}

.notifhistory-parent-box {
  margin: 0px 0px 2px 0px;
  min-width: 350px;

  .notification-scrollable {
    background-color: transparent;
  }

  .material-notifs-cleared {
  }
}
