@use "config";
@use "sass:color";

.media-players-container {
  margin: 0 20px 0 20px;
  padding: 4px;
  background-color: config.$base00transparent;

  .player-parent-box {
    min-height: 170px;

    .mediactrl-parent-box {
      background-color: transparent;
      margin: 4px 4px 4px 10px;

      .player-control-prev {
        background-color: transparent;
        color: config.$base0E;
        padding: 4px 4px 4px 2px;
        border: none;
        min-height: 25px;
        min-width: 30px;
        border-radius: 8px;
      }

      .player-control-pause {
        background-color: transparent;
        color: config.$base0E;
        padding: 4px 4px 4px 2px;
        border: none;
        min-height: 25px;
        min-width: 30px;
        border-radius: 8px;
      }

      .player-control-next {
        background-color: transparent;
        color: config.$base0E;
        padding: 4px 4px 4px 2px;
        border: none;
        min-height: 25px;
        min-width: 30px;
        border-radius: 8px;
      }
    }
  }
}

.media-bg-box {
  background-color: config.$base0B;
  border: 2px solid config.$base0D;
  border-radius: 8px;
  margin-top: 20px;
}

.player-overlay {
  padding: 0.4rem;
  background-color: color.adjust(config.$base09, $alpha: -0.8);
  border: config.$base0D;

  .controlButton:hover {
    background-color: config.$base05;
  }

  .seek-parent-box {
    margin: 10px 0 10px 0;
  }

  .seek-slider {
    margin: 0 20px 0 20px;

    trough {
      background: config.$base02;
      min-height: 4px;
      border-radius: 8px;

      slider {
        color: config.$base0B;
        background: config.$base0F;
      }

      highlight {
        background: config.$base05;
        border-radius: 8px;
      }
    }
  }
}

// Old Media Player (currently unused, but you never know)
box.MediaPlayer {
  padding: 0.6rem;
  background-color: config.$base0B;

  box.cover-art {
    min-width: 120px;
    min-height: 120px;
    border-radius: 9px;
    margin-right: 0.6rem;
    background-size: contain;
    background-position: center;
  }

  box.title {
    label {
      font-weight: bold;
      font-size: 1.1em;
    }
  }

  scale {
    padding: 0;
    margin: 0.4rem 0;

    trough {
      min-height: 8px;
    }

    highlight {
      background-color: config.$base0B;
    }

    slider {
      all: unset;
    }
  }

  centerbox.actions {
    min-width: 220px;

    button {
      min-width: 0;
      min-height: 0;
      padding: 0.4rem;
      margin: 0 0.2rem;
    }
  }
}
